<!--自定义提示信息框-->
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="z-index: 1100; width: 100%;"    >
    <div class="modal-dialog" style="margin: 15% auto;">
        <div class="modal-con1">
            <div class="modal-title">
                <div>
                <span id="alert-modal-time">
                    <label>3</label>
                </span>
                    <span type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 5px">
                    <img src="/images/dian_03.jpg" alt="关闭" class="pull-right img-circle"/>
                </span>
                </div>
            </div>
            <div class="text-center">
                <span id="alert-modal-info" style="padding: 0 1em;display: block;">暂无信息提示</span>
            </div>
            <div class="chose-buttons">
                <span class="btn btn-danger" func="btn-cancel">取消</span>
                <span class="btn btn-success" func="btn-confrim">确定</span>
            </div>
        </div>
    </div>
</div>