<%-// include ../base/error %>
<!--“正在加载中”的效果-->
<div style="position: fixed;width: 100%; min-height: 150%; z-index: 9999;  top: 0px; left: 0px;display: none; background: rgba(0, 0, 0, 0.4);"
     id="htmlOnloading">
    <div class="panel" style="height:100px;width:400px;margin-left: -175px;border-radius:100px;
         position: fixed;top:40%;left: 50%;background-color: #DCEFFE;z-index:1000;
         text-align: center;font-family: 'microsoft yahei', sans-serif;font-size: 20px;line-height: 100px;">
        <img src="/images/onloading.gif" style="width: 40px;filter:alpha(opacity=30);opacity:0.4;">正在玩命的加载数据，请稍候
    </div>
</div>
</body>
</html>