table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 5px 6px
}

table tbody tr:nth-child(2n+1) {
    background-color: #f5f5f5
}