<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<jmxConfigurator />

	<!--格式化输出：%d表示日期，%thread表示线程名，%-6level：级别从左显示6个字符宽度，%logger{55}：类名显示55个字符，%msg：日志消息，%n是换行符 -->
	<property name="PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n" />

	<!-- 输出文件路径 -->
	<property name="FILE_PATH" value="service" />

	<!-- 开发环境 -->
	<springProfile name="dev">
		<!-- 控制台打印 -->
		<appender name="LOGS-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder charset="UTF-8">
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<appender name="LOGS-ELK"
			class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>192.168.1.200:9250</destination>
			<encoder charset="UTF-8"
				class="net.logstash.logback.encoder.LogstashEncoder" />
		</appender>

		<logger name="com.ddxxsyb.order.dao" level="debug">
			<appender-ref ref="LOGS-CONSOLE" />
		</logger>

		<root level="info">
			<appender-ref ref="LOGS-CONSOLE" />
			<appender-ref ref="LOGS-ELK" />
		</root>
	</springProfile>

	<!-- 测试等环境 使用的bootstrap.yml中的spring.profiles.active: pro参数 -->
	<springProfile name="test, pre, pro">
		<appender name="LOGS-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 文件路径 -->
			<file>${FILE_PATH}/log/railyFile.log</file>

			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${FILE_PATH}/logs/%d{yyyy-MM}/app.%d{yyyy-MM-dd-HH-mm}.%i.log.zip
				</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>20MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>

			<encoder charset="UTF-8">
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<logger name="com.ddxxsyb.order.dao" level="debug">
			<appender-ref ref="LOGS-FILE" />
		</logger>

		<root level="info">
			<appender-ref ref="LOGS-FILE" />
		</root>
	</springProfile>

</configuration>